/* Scalable canvas */

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

div.fullWidth {
  position: absolute;
  width: 100%;
  height: 100%;
}

div.fullWidth canvas {
  width: 100%;
  height: 100%;
}

body {
  background-color: #2B2F37;
  width: 100%;
  height: 100%;
}


/* Logo */

div#loadingBox {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  margin-top: -10px;
  text-align: center;
}

img#logo {
  background-image: url('logo.png');
  width: 512px;
  height: 512px;
  position: absolute;
  margin-left: -256px;
  margin-top: 100px;
}


/* Progress bar */

div#bgBar {
  left: 50%;
  position: absolute;
  width: 400px;
  margin-left: -200px;
  margin-top: 650px;
  height: 20px;
  display: block;
  background-color: #333;
}

div#progressBar {
  left: 50%;
  position: absolute;
  margin-left: -200px;
  margin-top: 650px;
  width: 0px;
  height: 20px;
  background-color: #2796C4;
  border-radius: 2px;
}

div#bgBar {
  border-radius: 2px;
}
